<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Calculator Regression Test">
    <listeners>
        <listener class-name="utils.TestListener"/>
    </listeners>

    <test name="Calculation History Test">
        <classes>
            <class name="test.CalculatorTest"/>
        </classes>
    </test>
</suite>